# Core dependencies
django>=5.0.0
bcrypt>=4.2.1
numpy>=2.2.2
pandas>=2.2.3
plotly>=6.0.0
psycopg2-binary>=2.9.10
python-dotenv>=1.0.1
python-jose[cryptography]>=3.3.0
sqlalchemy>=2.0.38

# Development dependencies
ipykernel>=6.29.5

# Optional - remove if not using Streamlit
streamlit>=1.42.0

# Additional Django-related packages
django-crispy-forms>=2.1
django-environ>=0.11.2
djangorestframework>=3.14.0